{
  "presets": [
    "@babel/typescript",
    ["@babel/env", {
      "targets": {
        "esmodules": true
      },
      "bugfixes": true,
      "loose": true,
      "modules": "cjs"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-typescript", {
      "allowNamespaces": true
    }]
  ],
  "ignore": ["**/*.d.ts", "node_modules"]
}
